@charset "utf-8";
@import "../../lib/element/yo-btn";

@include yo-btn(
    $name: async,
    $width: 100%,
    $height: .4rem,
    $bgcolor: #ff5719,
    $border-color: #ff5719,
    $color: #fff,
    $active-bgcolor: #ff5719
)