@charset "utf-8";
@import "../../lib/fragment/yo-list";

@include yo-list(
    $name: group,
    $item-border-space: .16rem,
    $label-padding: .1rem .15rem
) {
    .item {
        > .mark {
            width: .45rem;
        }
    }
}